{:schema "kotoba.capability.repository.v1", :capability/version 1, :capability/hash-contract-cid "bafkreiflhj3fslsbh7okdas2fzlhmogai64x6p3lkla6gtr7berbp7ftvi", :capability/definition-cid "bafyreihqyss6vswxjwjrfeafcuuzphbtzzlyxzbssk3tmut5r3w5ldqlra", :capability/dependencies #{}, :capability/imports #{:process-list}, :authority "kotoba-lang/kotoba-core-contracts", :capability/default-policy :approval-required, :capability/artifact {:format :wasm-component, :digest-required? true, :signature-required? true}, :capability/radicle-rid "rad:z2r9wvkLnzQdNqcKXA6e2vqpAMzXA", :capability/repository "kotoba-lang/capability-process-list", :capability/id "process/list", :capability/effects #{:personal-data :system-read}, :capability/provider-status :contract-only}